body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url("../img/Fundo.PNG");
    background-repeat: no-repeat;
	background-size: 100%;
	width: 90%;
	height: 700px;
    color: rgb(52, 165, 52);
}
#snake {
    margin-top: 50px;
}